<div class="container-fluid">
    <div class="row">
        <header class="bg-success text-white p-3" style="height: 25vh;">
            <h1><b>CODER - Sistema de usuarios</b></h1>
        </header>
    </div>

    <div class="row">
        <div class="col-12 m-3">
            <ul>
                {{#each users}}
                <li>{{this.lastName}}, {{this.firstName}} ({{this.userName}})</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <div>
            <input type="text" id="chatBox">
        </div>

        <div>
            <p id="messagesLog"></p>
        </div>
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{!-- <script src="./socket.io/socket.io.js"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="../public/js/users_index.js"></script>